jupyterlab
ipywidgets
numpy
pandas
matplotlib
scikit-learn
torch>=2
torchvision
torchaudio
transformers>=4.44
datasets
sentencepiece
evaluate
sacrebleu
spacy
nltk
beautifulsoup4
requests
nbformat
nbclient
nbconvert
pre-commit
black
isort
flake8
captum
gensim
seaborn
